{% extends 'base.html' %}

{% block title %}
<title>О компании</title>
{% endblock %}

{% block content %}
<main class="container">
    <div class="container bg-light p-5 rounded" style="margin-top: 30px; margin: center">
        <h3>Наша команда - RusTechnology.</h3>
        <h3>
            Создала для вас самый удобный и понятный погодник. Интерфейс очень прост,
            регистрация не нужна, удобна правда? Наш сервис может подсказать вам погоду в любое время. Главное, что он
            сделает это быстро и съест крайне мало интернет памяти. Мы готовы будем прислушаться к вашему мнению, и
            готовы
            внести необходимые вам изменения. Присылайте свои идеи на почту <a target="_blank"
                                                                               href="https://mail.rambler.ru/folder/INBOX">alfa0engine@rambler.ru</a>
        </h3>
    </div>
</main>
{% endblock %}